source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.SystemTextJson
nuget FSharp.ViewEngine
nuget Giraffe
nuget Markdig
nuget Serilog
nuget Serilog.AspNetCore
nuget Serilog.Sinks.Seq
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.OpenTelemetry
nuget Starfederation.Datastar
nuget OpenTelemetry
nuget OpenTelemetry.Extensions.Hosting
nuget OpenTelemetry.Instrumentation.AspNetCore
nuget OpenTelemetry.Instrumentation.Http
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol
nuget OpenTelemetry.Exporter.Console

group Test
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget Expecto

group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget Fake.Core.Target
    nuget Fake.IO.FileSystem
